@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Raleway&family=Roboto+Mono&family=Roboto:wght@300&family=Rubik&family=Sansita+Swashed&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
    display: inline-block;
}

a:not(.turkce, .signa){
    text-decoration: none;
    color: #262626;
}

nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    height: 150px;
    font-size: 13px;
}

.turkce{
    text-decoration: none;
}


section{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

input{
    /* width: 600px; 
    height: 30px; 
    margin-bottom: 2rem;
    border-radius: 25px;
    padding: 20px; */
}
img{
    margin-bottom: 2rem;
}

.buttons{
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}

.searchbox{
    width: 600px;
    height: 50px;
    /* background-color: #d5d5d5; */
    border: 1px solid #E1E2E6;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 25px;
    gap: 10px;
}
.searchbox i{
    color: #777;
    font-size: 20px;
}
.searchbox input{
    flex: 1;
    outline: none;
    font-size: 18px;
    border: none;
}
.searchbox:hover{
    box-shadow: 2px 2px 5px #E1E2E6, -2px 2px 5px #E1E2E6;
}

.generalfooter{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 5vh;
}

.turkey{
    height: 5vh;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.footer1 a{
    margin-left: 20px;
    color: #70757A;
}
.footer2 a{
    margin-right: 20px;
    color: #70757A;
}


footer{
    background-color: #F2F2F2;
    color: #70757A;
}


button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #F8F9FA;
    border: 1px solid transparent;
    /* border: none; */
    cursor: pointer;
}
button:hover{
    border: 1px solid #E1E2E6;
    box-shadow: 0px 2px 2px #E1E2E6;
}

/* .firstbut{
    margin-right: 20px;
} */

.svg{
    max-width:20px;
    height: auto;
    
}
.ul2{
    /* border: 2px solid red; */
    display: flex;
    gap: 10px;
    position: relative;
}

.icon1{
    /* border: 2px solid blue; */
    /* display: flex;
    flex: 1; */
}

.sign{
    background-color: #4284F5;
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.signa{
    color: #fff;
    text-decoration: none;
    
    
}

.ul1 a{
    margin-right: 10px;
}
a:not(.firstbut, .secbut):hover{
    text-decoration: underline;
}

section p{
    font-size: 15px;
}
section p:not(span){
    color: #4D5156;
}